body
{
	background: rgba(10,10,10,1);
	background: -moz-linear-gradient(left, rgba(10,10,10,1) 0%, rgba(32,0,102,1) 99%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(10,10,10,1)), color-stop(99%, rgba(32,0,102,1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(left, rgba(10,10,10,1) 0%, rgba(32,0,102,1) 99%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(left, rgba(10,10,10,1) 0%, rgba(32,0,102,1) 99%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(left, rgba(10,10,10,1) 0%, rgba(32,0,102,1) 99%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to right, rgba(10,10,10,1) 0%, rgba(32,0,102,1) 99%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a0a', endColorstr='#000000', GradientType=1 );
	background: #111;
	text-align: center;
	width: 100%;
}
#animacion_inicio
{
	margin: 0 auto;
}
#animacion_inicio figure figcaption
{
	color: #ccc;
	//border-bottom: 2px white solid;
	font-family: 'Raleway' , Arial;
	font-size: 3em;
	font-weight: bold;
	margin: 0;
	//padding-bottom: 2em;
	position: relative;
	text-shadow: rgb(250,250,250) 0px 0px 100px;
	text-align: center;
	top: -5em;
}
#animacion_inicio figure img
{
	width: 50%;
}
#animacion_inicio progress
{
	display: block;
	left: 30%;
	margin: 0 auto;
	height: 2.5em;
	position: absolute;
	top: 60%;
	width: 40%;
	-webkit-appearance: none;
}
#animacion_inicio progress::-webkit-progress-bar
{

	border: solid 2px white;
	border-radius: 55px;
	background: white;
}
#animacion_inicio progress::-webkit-progress-value
{
	border-radius: 55px;
	background: #3ABAE0;
	background: rgba(73,155,234,1);
	background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
	background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
	background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
	background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
	background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
}
#animacion_inicio #loading
{
	color: #fff;
	font-size: 1.5em;
	left: 45%;
	position: absolute;
	top: 65%;

	-webkit-animation-duration: 2s;
  	-webkit-animation-delay: 1s;
  	-webkit-animation-iteration-count: infinite;
}


