a
{
	text-decoration: none;
	color: #c0c0c0;
	color: #f0f0f0;
}
body
{
	background: #c0c0c0;
	height: 50em;
	margin: 0 auto;
	max-width: 1200px;
}
figure#logo
{	
	left: 1em;
	position: relative;
	top: 1em;
	width: 120px;
}
figure#logo img
{
	display: block;
	width: 100%;
}
header
{
	background: #4b4b4b;
	height: 9em;
	padding: none;
	text-align: right;
	width: 100%;
}
nav#barra-navegacion
{
	background: #4b4b4b;
	display: inline-block;
	width: 85%;
}
nav#barra-navegacion ul
{
	margin-right: 2em;
	position: relative;
	top: -1em;
}
nav#barra-navegacion ul li
{
	
	display: inline-block;
	list-style: none;
	text-align: center;
	width: 6em;
}
nav#barra-navegacion ul li a
{
	font-size: .7em;
}
.azul
{
	color: #ccffff;
	font-size: 1.5em;
}
.blanco
{
	color: #fff;
}
.contenidos-slider
{
	color: #999;
	font-size: 1.5em;
	font-style: italic;
	font-weight: bold;
	list-style-type: none;
	margin-left: 2em;
}
.imagenes-slider
{
	display: inline-block;
	margin-left: 5em;	
	width: 30%;
}
.negro
{
	color: #000;
}
.secciones-slider
{
	display: inline-block;
	vertical-align: top;
	width: 55%;
}
.subtitulo-slider
{
	color: #4c4c4c;
	font-size: 2em;
	margin-left: .5em;
	text-align: left;
	width: 100%;
}